<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Node Express API</title>
  </head>

  <body>
    <div class="wrapper container-fluid">
      <header class="jumbotron text-center">
        <% include ../partials/navbar %>
        <h3>Students: <%= students.length %></h3>
      </header>
     <main class="container">
          <% for(const student of students) { %>
            <div class="students">
              <a href="/students/<%= student.id %>" class="student student-link">
                <div>
                  <h2><%= student.name %></h2>
                  <p><%= student.country %></p>
                  <p><%= student.age %></p>
                  <hr />
                  <% } %>
                </div>
              </a>

            </div>
         
     </main>
      <!-- footer -->
      
      <% include ../partials/footer %>
     
    </div>
    
    </div>
  </body>
</html>
