<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node Express API</title>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/api/v1/students">API</a></li>
      </ul>
      <h1>Students</h1>
    </header>
    <h2>Length:<%= students.length %></h2>
    <div>
      <% for(const student of students) { %>
      <a href="/students/<%= student.id %>">
        <div>
          <h2><%= student.name %></h2>
          <p><%= student.country %></p>
          <p><%= student.age %></p>
          <% } %>
        </div>
      </a>
    </div>
  </body>
</html>
