<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node Express API</title>
  </head>

  <body>
    <header>
      <% include ../partials/navbar %>
      <h1>Student Detail</h1>
      <div>
        <% if(student) { %>
        <h2><%= student.name %></h2>
        <p><%= student.country %></p>
        <p><%= student.age %></p>
        <p><%= student.bio %></p>
        <a href="/edit-student/<%= student._id %>">Edit</a>
        <a href="/api/v1/students/<%= student._id %>/delete">Delete</a>
        <% } %>
      </div>
    </header>
  </body>
</html>
